---
title: fuji
---

<h1>fuji:</h1>
<ul>
{% for dict in site.data.merged_file %}
  <li>
      {{ dict[0] }}
  </li>
{% endfor %}
</ul>

<table>
 <tr>
   <th>Tag</th>
   <th>Name</th>
   <th>VR</th>
   <th>VM</th>
   <th>Type</th>
   <th>Definition</th>
 </tr>
{% for dict in site.data.merged_file %}
{% for entry in dict[1] %}
 <tr>
   <td>{{ entry.group }},{{ entry.element }}</td>
   <td>{{ entry.name }}</td>
   <td>{{ entry.vr }}</td>
   <td>{{ entry.vm }}</td>
   <td>{{ entry.type }}</td>
   <td>{{ entry.definition }}</td>
 </tr>
{% endfor %}
{% endfor %}
</table>
